<html>
	<head>
		<title>Sinatra Web Guesser</title>

		<style>
			body {
				text-align: center;
				background: black;
			}
			h1 {
				font-size: 10em;
				color: white;
			}
			h2 {
				color: white;
			}
		</style>
		
	</head>

	<body>
		<h1>Game Over!</h1>
		<h2>(The Secret Number was <%= number %>)</h2>
		<form action='/reset'>
			<input type='submit' value='Play Again' />
		</form>
	</body>

</html>

