<html>
	<head>
		<title>Sinatra Web Guesser</title>
		<link href="/style.css" rel="stylesheet" type="text/css" />
		<style>
			body {
				background: green;
			}
		</style>
	</head>

	<body>
		<h2>You Got It!</h2>
		<p>The correct answer was <%= number %></p>
		<form action='/reset'>
			<input type='submit' value='Play Again' />
		</form>
	</body>

</html>

